body {
    margin: 0;
    font-family: Arial;
    background: #0F172A;
    color: #F8FAFC;
}

section {
    padding: 80px 10%;
}

#header {
    background: rgba(0,0,0,0.6);
    position: sticky;
    top: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

#Hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-right img {
    width: 280px;
    border-radius: 50%;
}

.cta-btn {
    background: #F97316;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    background: #1E293B;
    padding: 20px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

.project-card {
    background: #1E293B;
    padding: 25px;
    border-radius: 10px;
}

.contact-details {
    text-align: center;
    margin-top: 20px;
}

@media(max-width:768px){
    #Hero{
        flex-direction: column;
        text-align: center;
    }

    .projects-container{
        grid-template-columns: 1fr;
    }
}